.skill-list {

}
.skill-list__item {
    padding: 0.7rem 0 1.9rem 0;
}
.skill-list__progress {
    background: #FCFBFB;
    height: 1.4rem;
    border-radius: 0.7rem;
    position: relative;
}
.skill-list__procents {
    background: #000;
    height: 100%;
    border-radius: 0.7rem;
    position: absolute;
    left: 0;
    top: 0;
}
.skill-list__inner {
    display: flex;
    justify-content: space-between;
    padding: 1.1rem 0 0 0
}
.skill-list__mainskills {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}
.skill-list__otherskills {
    margin: 0.3rem 0 0 0;
}
.skill-list__duration {
    font-size: 2rem;
}